body {
  background-color: #b8d2eb;
}
#header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;

  color: #ffffff;
  text-decoration: underline;
  text-decoration-style: dotted;

  font-family: fantasy;
  font-size: 75px;
}
.subheader {
  color: purple;
  font-family: cursive;
  font-size: 30px;
  margin: 10px;
}
.facts {
  background-color: #84d8b4;
  border: 5px outset;
  font-size: 20px;
  margin-left: 150px;
  margin-right: 100px;
  margin-bottom: 20px;
  height: fit-content;
  width: fit-content;
}

.facts:hover {
  border: 5px solid #87a7e7;
}

.first {
  font-weight: bold;
}

ul {
  margin: 10px;
}

th {
  color: #000000;
}

a {
  color: yellow;
}
a:hover {
  color: #F0F8FF;
}

img {
  float: right;
  width: 300px;
  margin-right: 150px;
  margin-left: 100px;
}

p {
  background-color: #84d8b4;
  border: 5px outset;
  font-size: 20px;
  margin-left: 150px;
  margin-right: 500px;
  margin-bottom: 20px;
  height: fit-content;
  width: fit-content;
}